<mat-card>
    <mat-action-list>
    <mat-card-content>
      <div class="mat-subheader">Menu</div>
    </mat-card-content>
    
      <button routerLink="/admin" mat-list-item><mat-icon matListItemIcon>home</mat-icon>Home</button>

      <button mat-list-item routerLink="/admin/profile">
        <mat-icon matListItemIcon>account_circle</mat-icon>Profile</button>

      <button mat-list-item routerLink="/admin/categories">
        <mat-icon matListItemIcon>list</mat-icon>Categories</button>

      <button mat-list-item routerLink="/admin/add-category">
        <mat-icon matListItemIcon>library_add</mat-icon>Add Categories</button>

      <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon matListItemIcon>quiz</mat-icon>Quizes</button>

      <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon matListItemIcon>add_circle</mat-icon>Add Quiz</button>

      <button mat-list-item routerLink="/admin/profile">
        <mat-icon matListItemIcon>logout</mat-icon>Logout</button>

    </mat-action-list>
</mat-card>